# Laravel
/vendor/
/node_modules/
/public/storage
/.env
/storage/*.key

# Ignore IDE/editor specific files
/.vscode
/.idea

# Laravel specific files to ignore
/storage/*
!/storage/app/public
/storage/app/public/*
